/*---------------------------------------------------------
 * Styles for the transaction page
 *-------------------------------------------------------*/

/* The main content area has 3 parts: user, profile, book
 *-------------------------------------------------------*/
.content { width: 960px; }
.banner {
    width: auto;
    padding-left: 4em;
    font-size: 3em;
    text-align: left;
}
.content-user{
    float: left;
    height: auto;
    width: 70%;
    padding-left: 20px;
}
/* This class floats to the right side of the `content-user` class */
.content-profile {
    display: inline-block;
    padding: 1em;
    height: auto;
    width: 20%;
    border-left: dotted 1px #AEAEAE;
    /*background-color: #FFFFFF;*/
}
/* the book content area customization */
.content-book {
    height: 100px;
    width: auto;
    margin: 2em auto;
}
.textbox { /*textbox*/
    height: auto;
    margin-left: 6px;
    padding: 13px;
    border: none;
    background-color: #FCFCFC;
    font-size: 16px;
    font-family: 'Voltaire';
}
.textbox-lg { width: 40%; }
.textbox-md { width: 25%; }
.textbox-sm { width: 10%; margin-left:0;}

/*-------------------------------------------------------
 * CUSTOMIZE THE VARIOUS ITEMS 
 *-------------------------------------------------------*/
.item-action {
    display: inline-block;
    margin: 0 .5em;
    width: 24px;
    color: #7D7D7D;
    font-size: 20px;
}
.item-add, .item-add a{
    margin: 2em auto;
    color: #7D7D7D;
    font-size: 24px;
    text-decoration: none;
}
.item-add a:hover { color: #00a2de; }
.item-repeat { color: #F7819A; }
.item-repeat:hover { color: #ED4E6E; }
.item-check:hover { color: #00B4AE; }
.item-check { color: #57D8D3; }

.hidden { display: none; }
